header {
    text-align: center;
    color: white;
    background-color: navy;
    font-size: large;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}

footer {
    text-align: center;
    color: white;
    background-color: navy;
}

.proximity {

    background-color: rgb(216, 213, 213);
    align-items: center;
    grid-column: span 1;
    text-align: center;
    padding: 1rem;


}

a {
    padding: 5rem;
}

.ruleThirds {
    grid-column: span 1;
    background-color: rgb(216, 213, 213);
    text-align: center;
    padding: 1rem;
}

.whiteSpace {
    grid-column: span 1;
    text-align: center;
    background-color: rgb(216, 213, 213);
    padding: 1rem;
}

.thirdsImage {
    width: 400px;
}

.proxImage {
    width: 300px;
}

.whtSpaceImage {
    width: 300px;

}