header {
    text-align: center;
    color: white;
    background-color: navy;
    font-size: large;
    display: flex;
    justify-content: center;
    column-span: all;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

footer {
    text-align: center;
    color: white;
    background-color: navy;
}

.proximity {

    background-color: rgb(216, 213, 213);
    align-items: center;
    grid-column: span 1;
    text-align: center;
    padding: 1rem;


}

a:hover {
    text-decoration: underline;
}

a {
    padding: 5rem;
    font-family: rubik;
    text-decoration: none;

}

h2 {
    font-family: rubik;
}

.ruleThirds {
    grid-column: span 1;
    background-color: rgb(216, 213, 213);
    text-align: center;
    padding: 1rem;
}

.whiteSpace {
    grid-column: span 1;
    text-align: center;
    background-color: rgb(216, 213, 213);
    padding: 1rem;
}

.thirdsImage {
    width: 400px;
    padding-top: 1rem;
}

.proxImage {
    width: 300px;
    padding-top: 1rem;
}

.whtSpaceImage {
    width: 300px;
    padding-top: 1rem;

}

/*media queries*/
/*phone*/
@media screen and (max-width:660px) {


    main {
        max-width: 646px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    section {

        text-align: center;
    }
}

/*tablet*/
@media screen and (min-width:661px) and (max-width:1024px) {


    main {
        max-width: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    section {
        align-items: center;
    }


}