/* Larger View */
@media screen and (min-width: 640px) {
    header {
        display: flex;
        justify-content: center;

    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    /*nav {

        background-color: black;
        display: grid;


    }*/

    .navBar {
        text-align: center;
        font-size: xx-large;
        text-decoration: none;
        padding: .5em;
    }

    .navBar a:hover {
        text-decoration: underline;
    }

    .navBar a {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }
}