/* Larger View */
@media screen and (min-width: 640px) {
    header {
        display: flex;
        justify-content: center;

    }

    nav {
        display: flex;
        justify-content: space-evenly;

    }



    .navBar {
        text-align: center;
        font-size: xx-large;
        text-decoration: none;
        padding: .5em;

    }

    .navBar a:hover {
        text-decoration: underline;
    }

    .navBar a {
        display: block;
        flex: 1 1 100%;
        border: none;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .heroImg {
        text-align: center;
    }

    .callAction {
        background-color: gray;
        color: white;
        text-align: center;
        justify-content: center;
        border: 3px solid white;
    }

    .currentEvent {
        text-align: right;
        padding-right: 5px;
    }

    .weatherCard {
        align-items: center;
        justify-content: center;
        text-align: left;
        background-color: gray;
        color: white;
    }

    .spotlight {
        text-align: center;
        padding-left: 5px;
    }

    img {
        width: 175px;
        float: left;

        padding: 15px;
        display: flex;
        justify-content: left;

    }

    .heroImg img {
        width: 100%;
        height: auto;
    }
}