* {
    box-sizing: border-box;
}

.nav1 {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    padding: .5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav1:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

body {
    display: grid;


}

header {
    background-color: #006eb6;
    color: white;
    align-items: center;


}

img {
    width: 175px;
    float: left;

    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;

}

h1 {

    font-family: salsa;


}


nav {

    background-color: black;
    display: grid;


}


h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    background-color: #006eb6;
    color: white;
    text-align: center;
}

main {
    width: 75%;
    margin: auto;

    font-size: larger;
    font-family: salsa;
}

ul li {
    text-decoration: none;
    text-align: left;
    list-style-position: inside;
}

.lesson-link {
    text-decoration: none;
    color: black;

}

.lesson-link:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
}

/*#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
}*/
.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}


#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
}

.open a {
    display: block;
}