/* importing a font for me to use */
@import url(https://fonts.googleapis.com/css2?family=Salsa&display=swap);

* {
    box-sizing: border-box;
}

#nav1 {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    padding: .5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    text-decoration: underline;
}

body {
    display: grid;


}

header {
    background-color: #006eb6;
    color: white;
    align-items: center;


}

img {
    width: 175px;
    float: left;

    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;

}

h1 {

    font-family: salsa;


}


nav {

    background-color: black;
    display: grid;


}



h2 {
    text-align: center;
}

h3 {
    background-color: #006eb6;
    color: white;
    text-align: center;
}

main {
    width: 75%;
    margin: auto;
    text-decoration: underline;
    font-size: larger;
    font-family: salsa;
}

ul {
    text-decoration: none;
    text-align: center;
}

footer {
    text-align: center;
}

li {
    text-decoration: none;
}