@media screen and (min-width: 500px) {
    header {
        display: flex;

    }

    nav {
        display: flex;
        justify-content: center;
    }

    main {
        display: flex;

    }


}